builder_website/json-schema/xsd_schematron/challenge_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="rules.xsd" />
  <!-- The base model containing everything -->
  <xs:element name="Model" type="ModelType" />

  <xs:complexType name="ModelType">
    <xs:sequence>
      <xs:element name="rules" type="RulesType" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>